In [14]:
import numpy as np
import pandas as pd
import string
import math

import otter
grader = otter.Notebook()

ModuleNotFoundError: No module named 'otter'

# <mark style="background: #801010; color: #ffffff;" >C</mark> Week 2: Working with pandas üêºüêºüêº

------

### Instructions:

- Complete 50 points worth of questions to pass the assessment
- You can attempt any number of questions and in any order provided you pass at least 50 points.
- These questions should be attempted directly in this notebook.
- Be sure to check your work before submitting.
- Do not remove any provided markings from the answer spaces.
- Do not make any changes to this notebook outside of the answer spaces provided.
  
#### Submitting

- Reset your outputs before submitting
- Select the `Kernel` menu, then either `Restart & Run Clear Output` or `Restart & Run All`
- Don't forget to save your notebook after this step
- Submit your .ipynb file to Gradescope via upload
- You can submit as many times as needed
- When reviewing results, **ignore** any results listed under "Public Tests"  
  (There are no "Public Tests" in this assignment)

For more information, see the assessment page.

#### Question 01 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2 Points)

Create a pandas Series named `series_1` with values:
```python
'a','b','c','d','e'
```
and index from 1 to 5 inclusive.

In [5]:
# Write your solution here
import pandas as pd
import numpy as np
ind = [1,2,3,4,5]
series_1 = pd.Series(['a','b','c','d','e'],index=ind)
print(series_1)

1    a
2    b
3    c
4    d
5    e
dtype: object

#### Question 02 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2 Points)

Create a pandas Series named `series_2` with a default index and the values:
```python
'data', 'python', 'science', 'machine', 'learning'
```

In [3]:
# Write your solution here
series_2 = pd.Series(['data', 'python', 'science', 'machine', 'learning'])
print(series_2)

0        data
1      python
2     science
3     machine
4    learning
dtype: object

#### Question 03 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2 Points)

Create a pandas Series named `series_3` from the `np.array` variable supplied below with an index of the uppercase alphabet 'A' to 'Z'.

In [6]:
array = np.array([ 7, 59, 42, 13, 67, 19, 26, 59, 99, 97, 77,  1, 36, 49, 10, 51, 41,
       73, 33, 79, 19, 34, 84, 11, 41, 75])

# Write your solution here
ind2 = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
series_3 = pd.Series(array,index=ind2)
print(series_3)

A     7
B    59
C    42
D    13
E    67
F    19
G    26
H    59
I    99
J    97
K    77
L     1
M    36
N    49
O    10
P    51
Q    41
R    73
S    33
T    79
U    19
V    34
W    84
X    11
Y    41
Z    75
dtype: int32

#### Question 04 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

Copy the Series above (`series_3`) to a new object named `series_4` and assign an index of the lowercase alphabet 'a' to 'z'. The first value of `series_4` should be assigned the value `100` while `series_3` must remain unchanged.

In [9]:
# Write your solution here
import string
ind3 = []
for l in string.ascii_lowercase:
    ind3.append(l)
series_4 = pd.Series(np.copy(series_3),index=ind3)
series_4[0] = 100
print(series_4)

a    100
b     59
c     42
d     13
e     67
f     19
g     26
h     59
i     99
j     97
k     77
l      1
m     36
n     49
o     10
p     51
q     41
r     73
s     33
t     79
u     19
v     34
w     84
x     11
y     41
z     75
dtype: int32

#### Question 05 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

Given a pandas Series of the integers from 1 to 4 named `series_5`, transform this series into a series of floats and set the name of the series to be `'Float data'`.


---
<details>
  <summary><span style="color:blue">Finding documentation on attributes and methods</span></summary>
    It's <strong>essential</strong> to be able to use the pandas API reference to discover details of the pandas classes (Series, DataFrame, Index etc). You can find how to set the data type and Series name here:
    <a href="https://pandas.pydata.org/docs/reference/index.html">API reference</a>
</details>

In [10]:
series_5 = pd.Series(['1','2','3','4'])

# Write your solution here
float_data = series_5.astype('float')
print(float_data)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

#### Question 06 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

Create a Series with name `series_6` that contains all values greater than 50 in the NumPy `array` from Question 3. You should rely on NumPy filtering to sift these values.

In [22]:
# Write your solution here
x = []
for i in array:
    if i > 50:
     x.append(i)
y = np.array(x)
series_6 = pd.Series(y)

array([59, 67, 59, 99, 97, 77, 51, 73, 79, 84, 75])

#### Question 07 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

Create a Series of floats that represents the values of the `array` in question 3 divided by `5`. Assign this Series to the variable `series_7`. Again, you should be looking to harness the featues of NumPy and pandas to create your Series.

In [60]:
# Write your solution here
series7 = array/5
series_7 = pd.Series(series7)
series_7.values

array([ 1.4, 11.8,  8.4,  2.6, 13.4,  3.8,  5.2, 11.8, 19.8, 19.4, 15.4,
        0.2,  7.2,  9.8,  2. , 10.2,  8.2, 14.6,  6.6, 15.8,  3.8,  6.8,
       16.8,  2.2,  8.2, 15. ])

#### Question 08 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

Given the mixed type dictionary `mixed_data` below, create a pandas DataFrame from that data and assign it to a variable named `dataframe_8`.

---
<details>
  <summary><span style="color:blue">New pandas classes...</span></summary>
   Please refer to the <a href="https://pandas.pydata.org/docs/reference/index.html">API reference</a> to obtain details on any pandas classes that you have not yet encountered.
</details>

In [57]:
mixed_data = {
    "A": 42.0,
    "B": pd.Timestamp("20220704"),
    "C": pd.Series(1, index=list(range(4)), dtype="float32"),
    "D": np.array([3] * 4, dtype="int32"),
    "E": pd.Categorical(["test", "train", "test", "train"]),
    "F": "foundations of computer science",
}

# Write your solution here
dataframe_8 = pd.DataFrame(mixed_data)
dataframe_8

      A          B    C  D      E                                F
0  42.0 2022-07-04  1.0  3   test  foundations of computer science
1  42.0 2022-07-04  1.0  3  train  foundations of computer science
2  42.0 2022-07-04  1.0  3   test  foundations of computer science
3  42.0 2022-07-04  1.0  3  train  foundations of computer science

#### Question 09 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

In Question 8, we created a DataFrame with 6 columns. Create a series called `series_9` with values that reflect the **data type** of each column in `dataframe_8` and an index consisting of the column labels. Set the `name` attribute of this series to `'Column Types'`.

In [68]:
# Write your solution here
series9 = pd.Series(dataframe_8.dtypes)
series_9 = series9.rename('Column Types')
series_9

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
Name: Column Types, dtype: object

#### Question 10 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Given a dictionary called `pricing` (below), create a DataFrame that contains only "object" and "colour" elements in that order. Assign this DataFrame to the variable `dataframe_10`.

In [3]:
pricing = {'colour' : ['blue','green','yellow','red','white'],
        'object' : ['ball','pen','pencil','paper','mug'],
        'price' : [1.2,1.0,0.6,0.9,1.7]}

# Write your solution here
dataframe_10 = pd.DataFrame(pricing,columns=['object','colour'])
dataframe_10

   object  colour
0    ball    blue
1     pen   green
2  pencil  yellow
3   paper     red
4     mug   white

#### Question 11 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Create a DataFrame, `dataframe_11`, that is a copy of `dataframe_10` but with the index:
```python
  'one', 'two', 'three', 'four', 'five'
```
Change the colour of the mug from `'white'` to `'black'`. `dataframe_10` should not be changed.

In [5]:
# Write your solution here
import pandas as pd
df11 = pd.DataFrame.copy(dataframe_10)
dataframe_11 = df11.rename(index={0:'one',1:'two',2:'three',3:'four',4:'five'})
dataframe_11['colour'] = dataframe_11['colour'].replace(['white'],'black')
dataframe_11

       object  colour
one      ball    blue
two       pen   green
three  pencil  yellow
four    paper     red
five      mug   black

#### Question 12 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Download the file `weather-utf8.csv` from [this link](https://myuni.adelaide.edu.au/files/11146098/download?download_frd=1) and co-locate the file with this notebook. This file contains weather station data from the Australian Bureau of Meteorology for dates in January 2022. Data includes temperature, wind and rainfall information.

Load the file into a DataFrame called `dataframe_12` and set the index for this dataframe to be the 'Date'.

---
<details>
  <summary><span style="color:blue">pandas API Reference for Input/Output</span></summary>
   You can find how to read and write a CSV file to a DataFrame here:
    <a href="https://pandas.pydata.org/docs/reference/io.html">API reference (Input/Output)</a>
</details>

---
<details>
  <summary><span style="color:blue">Help! My index won't stay put?!?</span></summary>
   You can find how to set the index of DataFrame "in place" here:
    <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html">API reference (set_index)</a>
</details>

In [ ]:
# Write your solution here

#### Question 13 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Using the data loaded in Question 12, create a pandas DataFrame called `dataframe_13` containing the maximum temperature and the rainfall only on those days when the maximum temperature for the day was greater than 34 degrees.

In [ ]:
# Write your solution here

#### Question 14 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Using the data loaded in Question 12 and with reference to the [pandas API](https://pandas.pydata.org/docs/reference/index.html), create a two value tuple called `mean_14` that holds the mean of the maximum temperature and minimum temperature for the month of January like:
```python
    (mean_max_temp, mean_min_temp)
```

In [ ]:
# Write your solution here

#### Question 15 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Create a DataFrame called `dataframe_15` by duplicating `dataframe_12`. To reflect questionable sensor data when windspeed falls below 28 km/h, set these values (speed of maximum windgust < 28 km/h) to be the Not a Number value `np.nan`.

In [ ]:
# Write your solution here

#### Question 16 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Calculate the number of times that the maxmium wind gust came from the direction 'NNW' and assign it to the variable `nnw_gust_16`.

In [ ]:
# Write your solution here

#### Question 17 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(10 Points)

Download the file `titanic.csv` from [this link](https://myuni.adelaide.edu.au/files/11148918/download?download_frd=1) and co-locate the file with this notebook. This file contains data on the passengers on the Titanic - including an indication of those who lived and died on 14 April 1912 when it sank. Most columns are self-explanatory except the `Pclass`, `SibSp` and `Parch`.

Load the CSV file into a DataFrame called `dataframe_17` and amend the title of the column `'Pclass'` to `'Passenger Class'`. Also, delete the columns `SibSp` and `Parch` from the DataFrame. Refer to the [API Reference](https://pandas.pydata.org/docs/reference/index.html) for information on renaming and dropping columns if required - and recall from Question 12 that we must specify "inplace" for changes to the DataFrame to persist.

In [17]:
# Write your solution here
import pandas as pd
dataframe_17 = pd.read_csv('titanic.csv')
dataframe_17.rename(columns={'Pclass':'Passenger Class'},inplace = True)
dataframe_17.drop({'SibSp','Parch'},axis=1,inplace=True)
dataframe_17

,PassengerId,Survived,Passenger Class,Name,Sex,Age,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,370376,7.7500,NaN,Q

#### Question 18 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(10 Points)

The column `'Survived'` uses 1 and 0 to indicate whether the passenger survived. Create a `dataframe_18` which is a copy of `dataframe_17` and replaces 1 and 0 in the `'Survived'` column with the Python values `True` and `False`.

In [18]:
# Write your solution here
dataframe_18 = pd.DataFrame.copy(dataframe_17)
dataframe_18 = dataframe_18.astype({'Survived':bool})
dataframe_18

,PassengerId,Survived,Passenger Class,Name,Sex,Age,Ticket,Fare,Cabin,Embarked
0,1,False,3,"Braund, Mr. Owen Harris",male,22.0,A/5 21171,7.2500,NaN,S
1,2,True,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,PC 17599,71.2833,C85,C
2,3,True,3,"Heikkinen, Miss. Laina",female,26.0,STON/O2. 3101282,7.9250,NaN,S
3,4,True,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803,53.1000,C123,S
4,5,False,3,"Allen, Mr. William Henry",male,35.0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,887,False,2,"Montvila, Rev. Juozas",male,27.0,211536,13.0000,NaN,S
887,888,True,1,"Graham, Miss. Margaret Edith",female,19.0,112053,30.0000,B42,S
888,889,False,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,W./C. 6607,23.4500,NaN,S
889,890,True,1,"Behr, Mr. Karl Howell",male,26.0,111369,30.0000,C148,C
890,891,False,3,"Dooley, Mr. Patrick",male,32.0,370376,7.7500,NaN,Q

#### Question 19 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(15 Points)

To end this practical, work out what percentage of female and male passengers survived. Present these two values in a variable called `survivors_19` that is a tuple `(female_percent, male_percent)` that expresses the percentage of survivors rounded to one decimal place like:
```python
    (72.1, 25.9)  # values are fictional but show the expected format of the result
```
To determine this value, explore the pandas API for the [groupby](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) function.

In [23]:
# Write your solution here
x = dataframe_18.groupby('Sex')
z = x['Survived'].value_counts(normalize=True)
a = round(z[0]*100,1)
b = round(z[3]*100,1)
survivors_19 =(a,b)
#print(z)
print(survivors_19)

(74.2, 18.9)